[submodule "promise-server"]
	branch = main
	path = promise-server
	update = merge
	url = https://github.com/lindsaygelle/promise-server.git
[submodule "promise-client"]
	branch = main
	path = promise-client
	update = merge
	url = https://github.com/lindsaygelle/promise-client.git
